/* CSS for the Start Here page */



.centered-title {
    text-align: center
}

.centered-title h2 {
    font-family: 'Nexa Bold', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: #444F60
}

.centered-title .subheading {
    font-family: "Nexa Light", sans-serif;
    font-weight: 600;
    max-width: 70vh;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #A9ABAC
}

.centered-title .title-divider {
    margin: 10px auto
}

.centered-title.is-inverted h2,
.centered-title.is-inverted .subheading {
    color: #fff
}

.subpage-title {
    font-family: 'Nexa Bold', sans-serif;
    font-weight: 600 !important
}





.process-block {
    position: relative;
    text-align: center
}

.process-block .process-icon {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 5rem
}

.process-block .process-icon .icon-wrapper {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.process-block.has-line:after {
    content: '';
    height: 4px;
    width: 80px;
    background: #ededed;
    position: absolute;
    top: 88px;
    right: -14%;
    border-radius: 50px
}

.process-block .process-number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bolder;
    position: absolute;
    top: 13px;
    right: 0;
    background: #00D1B2;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.process-block .process-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.process-block .process-info .step-number {
    font-size: 8rem;
    font-weight: bolder;
    color: #ededed;
    margin-right: 15px
}

.process-block .process-info .details {
    text-align: left
}

.process-block .process-info .motto {
    font-size: 2.4rem;
    font-weight: 700;
    color: #444F60
}

.process-block .process-info .description {
    font-size: 95%;
    color: #999
}

@media (max-width: 768px) {
    .process-block.has-line:after {
        display: none
    }
}